@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }
} */

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type="taskList"] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid black;
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: #f8f9fa;
  }

  &:active {
    background-color: #e9ecef;
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  color: #a8a29e;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.select-component {
  & .select-content__control {
    border-radius: 8px;
    /* box-shadow: none; */
    @apply focus:outline-none focus:ring-0 dark:border-gray-300 dark:bg-stone-700 dark:focus:border-none;

    /* &:hover,
    &:focus {
      @apply outline-none ring-0;
    } */
    /* @apply border-neutral-300 bg-white hover:border-neutral-400 dark:border-neutral-700 dark:bg-neutral-700 dark:hover:border-neutral-500; */
    /* @apply border-neutral-300 bg-white hover:border-neutral-400 dark:border-neutral-700 dark:bg-neutral-700 dark:hover:border-neutral-500; */
  }
  & .select-content__menu {
    text-align: left;
    @apply border-neutral-300 dark:border-neutral-600 dark:bg-neutral-700;
  }
  & .select-content__value-container {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }
  & .select-content__placeholder {
    margin: 0;
    color: theme("colors.gray.300");
  }
  & .select-content__input {
    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }

  /* & .select-content__control--is-focused {
    @apply shadow-none dark:border-neutral-400 dark:hover:border-neutral-400;
    @apply border-neutral-500 shadow-none hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400;
  } */

  & .select-content__option {
    @apply dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-neutral-800;
    /* @apply bg-neutral-100 text-neutral-600 hover:bg-neutral-200 dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-neutral-800; */
  }
  /* & .select-content__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  & .select-content__indicator-separator {
    @apply bg-neutral-400;
  }

  & .select-content__input-container,
  & .select-content__single-value {
    @apply dark:text-white;
  }
}
